<section>
    <div class="row">
        <div class="col-12 m-t-40">
            <div class="row m-l-10 m-r-10">
                <div class="col-md-4">
                  <div class="card border border-0 bg-transparent">
                    <div class="card-body">
                        <div class="d-flex justify-content-around">
                            <img src="./../../../assets/images/services/Ellipse 20.png">
                            <span class="colorYellow fs-3">EXPERIENCE</span>
                        </div>
                        <p class="text-white text-justify">Grab a cold one, have a seat and get comfortable. You just found your happy place. A place where we believe we can make real connections and positively impact the lives of anyone that walks through our doors. From the industry's signature service, The Benchmark, to a variety of cuts and shaves, real transformation is here.</p>
                        <div class="text-center">
                            <button class="text-black colorBgYellow border border-0 rounded">SERVICE</button>
                        </div>
                    </div>
                  </div> 
                </div>
                <div class="col-md-4">
                    <div class="card border border-0 bg-transparent">
                        <div class="card-body">
                            <div class="d-flex justify-content-around">
                                <img src="./../../../assets/images/services/Ellipse 21.png">
                                <span class="colorYellow fs-3">MEMBERSHIPS</span>
                            </div>
                            <p class="text-white text-justify">Grab a cold one, have a seat and get comfortable. You just found your happy place. A place where we believe we can make real connections and positively impact the lives of anyone that walks through our doors. From the industry's signature service, The Benchmark, to a variety of cuts and shaves, real transformation is here.</p>
                            <div class="text-center">
                                <button class="text-black colorBgYellow border border-0 rounded" (click)="redirect('membership')">EXPLORE MEMBERSHIP</button>
                            </div>
                        </div>
                    </div>               
                </div>
                <div class="col-md-4">
                    <div class="card border border-0 bg-transparent">
                        <div class="card-body">
                            <div class="d-flex justify-content-around">
                                <img src="./../../../assets/images/services/Ellipse 22.png">
                                <span class="m-l-10 colorYellow fs-3">GIFT CARDS</span>
                            </div>
                            <p class="text-white text-justify">Who deserves The Boardroom Experience? Literally anyone. Look Beyond the expected gift and give him an experience where they're treated as amazing as they'll look.</p>
                            <div class="text-center">
                                <button class="text-black colorBgYellow border border-0 rounded" (click)="redirect('giftcard')">GIFT CARDS</button>
                            </div>
                        </div>
                    </div>               
                </div>
            </div>
        </div>
    </div>
</section>
<hr>
<section>
    <div class="row">
        <div class="col-12 m-t-40">
            <div class="row m-l-10">
                <div class="col-md-5 text-end">
                    <h2 class="text-white">HOURS OF OPERATION</h2>
                    <ul class="list-unstyled">
                        <li class="text-white">Monday: <span class="colorYellow p-l-10">10am - 8pm</span></li>
                        <li class="text-white">Tuesday: <span class="colorYellow p-l-10">10am - 8pm</span></li>
                        <li class="text-white">Wednesday: <span class="colorYellow p-l-10">10am - 8pm</span></li>
                        <li class="text-white">Thursday: <span class="colorYellow p-l-10">10am - 8pm</span></li>
                        <li class="text-white">Friday: <span class="colorYellow p-l-10">10am - 8pm</span></li>
                        <li class="text-white">Saturday: <span class="colorYellow p-l-10">10am - 8pm</span></li>
                        <li class="text-white">Sunday: <span class="colorYellow p-l-10">10am - 8pm</span></li>
                    </ul>
                </div>
                <div class="col-md-4 offset-md-3">
                    <div class="row">
                        <h2 class="text-white">LOCATION</h2>
                        <div>
                            <p class="colorYellow mb-0">15144 80th St Howard</p>
                            <p class="colorYellow">Beach NY 11414</p>
                        </div>
                    </div>
                    <div class="row">
                        <h2 class="text-white">Phone</h2>
                        <p class="colorYellow">929-229-9142</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row">
       <div class="col-12 m-t-40 m-b-30">
            <div class="row m-l-10">
                <h2 class="text-white">Subscribe to the Barber Shop News Letter</h2>
                <div class="m-l-10 m-t-40 m-b-40">
                    <label class="text-white m-b-10">EMAIL ADDRESS :</label><br>
                    <input type="text" class="w-75 bg-transparent border-white" placeholder="">
                </div>
                <div class="m-l-10">
                    <button class="fs-5 text-white border border-0 rounded bgDarkBrown">Subscribe</button>
                </div>
            </div>
       </div> 
    </div>
</section>