<section>
    <div class="mx-3 bg-white">
        <div class="p-3">
            <h3>SELECT A MEMBERSHIP</h3>
        </div>
        <div class="row">
            <div class="col-sm-10">
                <div class="">
                    <input type="text" placeholder="Search for a Memberships" class="w96 border border-black p-3 m-3">
                </div>
                <div class="bg-white border border-black m-3">
                    <div class="border-bottom border-black">
                        <div class="row p-2">
                            <div class="col-sm-10">
                                <h3>Father’s Days Months Membership - The Express</h3>
                                <p>n publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate</p>
                            </div>
                            <div class="col-sm-2 p-1">
                                <p class="text-black">$240.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="border-bottom border-black">
                        <div class="row p-2">
                            <div class="col-sm-10">
                                <h3>Father’s Days Months Membership - The Express</h3>
                                <p>n publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate</p>
                            </div>
                            <div class="col-sm-2 p-1">
                                <p class="text-black">$240.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="border-bottom border-black">
                        <div class="row p-2">
                            <div class="col-sm-10">
                                <h3>Father’s Days Months Membership - The Express</h3>
                                <p>n publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate</p>
                            </div>
                            <div class="col-sm-2 p-1">
                                <p class="text-black">$240.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="border-bottom border-black">
                        <div class="row p-2">
                            <div class="col-sm-10">
                                <h3>Father’s Days Months Membership - The Express</h3>
                                <p>n publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate</p>
                            </div>
                            <div class="col-sm-2 p-1">
                                <p class="text-black">$240.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="border-bottom border-black">
                        <div class="row p-2">
                            <div class="col-sm-10">
                                <h3>Father’s Days Months Membership - The Express</h3>
                                <p>n publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate</p>
                            </div>
                            <div class="col-sm-2 p-1">
                                <p class="text-black">$240.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="border-bottom border-black">
                        <div class="row p-2">
                            <div class="col-sm-10">
                                <h3>Father’s Days Months Membership - The Express</h3>
                                <p>n publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate</p>
                            </div>
                            <div class="col-sm-2 p-1">
                                <p class="text-black">$240.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="border-bottom border-black">
                        <div class="row p-2">
                            <div class="col-sm-10">
                                <h3>Father’s Days Months Membership - The Express</h3>
                                <p>n publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate</p>
                            </div>
                            <div class="col-sm-2 p-1">
                                <p class="text-black">$240.00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <img src="./../../../../assets/images/services/Rectangle 369.png" alt="" srcset="">
            </div>
        </div>
    </div>
</section>
