<section class="container-fluid appFooter pt-5">
    <div class="row">
            <div class="col-sm-3 text-center">
                <img class="h100" src="./../../../assets/images/home/home page3.png">
            </div>
            <div class="col-sm-4 offset-sm-1">
                <h5 class="colorRed fw-bolder">Site Map</h5>
                <ul class="list-unstyled">
                    <li (click)="redirect('home')" class="text-white cursorPointer">Home</li>
                    <li (click)="redirect('aboutus')" class="text-white cursorPointer">About Us</li>
                    <li (click)="redirect('service')" class="text-white cursorPointer">Service</li>
                    <li (click)="redirect('appointment')" class="text-white cursorPointer">Appointment</li>
                    <li (click)="redirect('shopwithus')" class="text-white cursorPointer">Shop With Us</li>
                    <li (click)="redirect('appointment/services/8')" class="text-white cursorPointer">Find Us</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h5 class="colorRed fw-bolder">Contact Barber Shop</h5>
                <ul class="list-unstyled">
                    <li class="text-white">15144 80th</li>
                    <li class="text-white">Howard Beach</li>
                    <li class="text-white">NY 11414</li>
                </ul>
                <h5 class="colorRed fw-bolder">Phone</h5>
                <ul class="list-unstyled">
                    <li class="text-white">929-229-9142</li>
                </ul>
            </div>
    </div>
    <div class="row">
        <div class="col-12 text-center text-white">
            <div>
                <i class="bi bi-instagram m-l-10 m-r-10"></i>
                <i class="bi bi-facebook m-l-10 m-r-10"></i>
                <i class="bi bi-youtube m-l-10 m-r-10"></i>
                <i class="bi bi-twitter m-l-10 m-r-10"></i>
            </div>
            <div>
                <p>
                    Site: Reserve Terms and Conditions
                </p>
            </div>
        </div>
    </div>
</section>
