
<section class="headerSection">
    <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
          <img class="navbar-brand" (click)="redirect('home')" href="#" src="./../../../assets/images/header/logo.png" alt="">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-sm-0 justify-content-evenly w100">
              <li class="nav-item" (click)="redirect('home')">
                <a class="nav-link headerLink" [ngClass]="{selected: selectedTab == 'home'}" aria-current="page" >Home</a>
              </li>
              <li class="nav-item" (click)="redirect('aboutus')">
                <a class="nav-link headerLink" [ngClass]="{selected: selectedTab == 'aboutus'}">About Us</a>
              </li>
              <li class="nav-item" (click)="redirect('service')">
                <a class="nav-link headerLink" [ngClass]="{selected: selectedTab == 'service'}">Service</a>
              </li>
              <li class="nav-item"(click)="redirect('appointment/services')">
                <a class="nav-link headerLink" [ngClass]="{selected: selectedTab == 'appointment'}">Appointment</a>
              </li>
              <li class="nav-item" (click)="redirect('shopwithus')">
                <a class="nav-link headerLink" [ngClass]="{selected: selectedTab == 'shopwithus'}">Shop With Us</a>
              </li>
              <li class="nav-item" (click)="redirect('findus')">
                <a class="nav-link headerLink" [ngClass]="{selected: selectedTab == 'findus'}">Find Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</section>
