.h1-font{
    font-size: 40px;
    font-weight: 900;
}


.cardGreen{
    background-color: #d8e393;
    height: 100%;
}
.colorVenmo{
    color: #2acdd8;
}
.cardPink{
    background-color: #cf8484;
    height: 100%;
}
.text-img{
    bottom: -5px;
    left: 35px;
}