<div class="row">
        <img class="w100" src="./../../../assets/images/home/barber home main.jpg" alt="">
</div>
<section>
    <div class="row">
        <div class="col-12">
            <h1 class="h1-font text-center text-white m-t-25 m-b-25">SHOUT OUTS</h1>
        </div>
        <div class="col-12">
            <div class="row m-l-10 m-r-10">
                <div class="col-sm-4">
                  <div class="card cardPink">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <img src="./../../../assets/images/home/home page4.png">
                        
                        <div class="text-center w100">
                            <h6 class="card-title">Dr. Alice</h6>
                            <i class="bi bi-star-fill m-1"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill m-1"></i>
                            <i class="bi bi-star-fill"></i>
                        </div>
                        </div>
                      <p class="text-white m-t-25">Friendly staff and great haircutt</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card cardGreen">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <img src="./../../../assets/images/home/home page5.png">
                        <div class="text-center w100">
                            <h6 class="card-title m-l-30">Edward Smith</h6>
                            <i class="bi bi-star-fill m-1"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill m-1"></i>
                            <i class="bi bi-star-fill"></i>
                        </div>
                        </div>
                      <p class="text-white m-t-25">I came here to support my friend but i found a great experience</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4" >
                    <div class="card cardPink">
                      <div class="card-body">
                        <div class="d-flex align-items-center">
                            <img src="./../../../assets/images/home/home page6.png">
                        <div>
                            <h6 class="card-title m-l-30">John Cartor</h6>
                            <i class="bi bi-star-fill m-1"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill m-1"></i>
                            <i class="bi bi-star-fill"></i>
                        </div>
                        </div>
                        <p class="text-white m-t-25">I came here to support my friend but i found a great experience</p>
                      </div>
                    </div>
                  </div>
              </div>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col-sm-8 offset-2 m-t-25 m-b-25 p-3 border border-5">
            <div class="text-center">
                <p class="text-black fs-3">
                    To Send a deposit for a service please use the Venome or Cash App Links
                </p>
            </div>
            <div class=" text-center">
                <i class="bi bi-credit-card"></i>
                <span class="fs-2 fw-bold "> Cash App</span>
                <span class="fs-2 fw-bold colorVenmo"> venmo </span>
                <i class="bi bi-paypal"></i>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col-12">
            <h1 class="h1-font text-center text-white m-t-25 m-b-25">CATEGORIES</h1>
        </div>
        <div class="col-12">
            <div class="row m-l-10 m-r-10">
                <div class="col-md-3 position-relative">
                    <img class="w100" src="./../../../assets/images/home/home_7.jpeg">
                    <h5 class="position-absolute text-img text-black">SHAVING</h5>
                </div>
                <div class="col-md-3 position-relative">
                    <img class="w100" src="./../../../assets/images/home/home_8.jpeg">
                    <h5 class="position-absolute text-img text-white">SHAMPOOING</h5>
                </div>
                <div class="col-md-3 position-relative">
                    <img class="w100" src="./../../../assets/images/home/home_9.jpeg">
                    <h5 class="position-absolute text-img text-black">COLOUR</h5>
                </div>
                <div class="col-md-3 position-relative">
                    <img class="w100" src="./../../../assets/images/home/home_10.jpeg">
                    <h5 class="position-absolute text-img text-white">SHIATSU</h5>
                </div>
            </div>
            <div class="row m-l-10 m-r-10 m-t-30">
                <div class="col-md-3 position-relative">
                    <img class="w100" src="./../../../assets/images/home/home_11.jpeg">
                    <h5 class="position-absolute text-img text-white">MIRRORING</h5>
                </div>
                <div class="col-md-3 position-relative">
                    <img class="w100" src="./../../../assets/images/home/home_12.jpeg">
                    <h5 class="position-absolute text-img text-black">LINEING</h5>
                </div>
                <div class="col-md-3 position-relative">
                    <img class="w100" src="./../../../assets/images/home/home_13.jpeg">
                    <h5 class="position-absolute text-img text-white">MASKING</h5>
                </div>
                <div class="col-md-3 position-relative">
                    <img class="w100" src="./../../../assets/images/home/home_14.jpeg">
                    <h5 class="position-absolute text-img text-black">BUZZ CUT</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="m-t-50">
 
</section>
