<section>
    <div class="row">
        <h1 class="text-white text-center">Ready to schedule your appointment?</h1>
        <h4 class="bgLemon text-center lh-lg">Start by selecting a state or entering city or zip code</h4>
    </div>
    <div class="row m-t-50">
        <div class="col-12 d-flex">
            <div class="col-md-6">
                <img class="w90" src="./../../../assets/images/findus/Rectangle 51.png">
            </div>
            <div class="col-md-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387191.0362253592!2d-74.30935077788425!3d40.69753993652597!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sin!4v1690565110966!5m2!1sen!2sin" 
                    width="600" height="440" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>
<section class="m-l-20">
    <div class="row">
        <div class="col-12 d-flex">
            <div class="col-md-4">
                <p class="text-white">Address</p>
                <input type="text">
            </div>
            <div class="col-md-4">
                <p class="text-white">Radius</p>
                <select class="w50" style="height: 30px;">
                    <option></option>
                </select>
            </div>
            <div class="col-md-4">
                <p class="text-white">Kilometer</p>
                <input type="text">
            </div>
        </div>
    </div>
    <div class="row m-t-50 m-b-50">
        <h4 class="text-white">You'll find  Barber Shop in the Wash Park</h4>
        <p class="bgLemon lh-lg">15144 80th St Howard Beach NY 11414</p>
    </div>
</section>
