<section class="py-5 container-fluid">
    <div class="row">
        <p class="bgBlueDark text-white lh-lg text-center">Use code “CBSE” to get 10% off your first order!!</p>
    </div>
    <div class="row">
        <div class="col-12 text-white d-flex">
            <div class="col-md-6">
                <h2>PRODUCT</h2>
            </div>
            <div class="col-md-6 d-flex">
                <div class="col-md-6">
                    <label class="lh-lg">FILTER BY</label><br>
                    <select class="w25">
                        <option>ALL</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label class="lh-lg">SORT BY</label><br>
                    <select>
                        <option>ALPHABATICALLY</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-5" *ngFor="let item of array">
        <div class="col-md-3">
            <img class="w90" src="./../../../assets/images/shop/Rectangle 251.png">
            <p class="lh-lg mb-0 text-white text-center">Orange full SHIRT</p>
            <p class="text-white text-center">$399.00</p>
        </div>
        <div class="col-md-3">
            <img class="w90" src="./../../../assets/images/shop/Rectangle 252.png">
            <p class="lh-lg mb-0 text-white text-center">Orange full SHIRT</p>
            <p class="text-white text-center">$399.00</p>
        </div>
        <div class="col-md-3">
            <img class="w90" src="./../../../assets/images/shop/Rectangle 253.png">
            <p class="lh-lg mb-0 text-white text-center">Orange full SHIRT</p>
            <p class="text-white text-center">$399.00</p>
        </div>
        <div class="col-md-3">
            <img class="w90" src="./../../../assets/images/shop/Rectangle 254.png">
            <p class="lh-lg mb-0 text-white text-center">Orange full SHIRT</p>
            <p class="text-white text-center">$399.00</p>
        </div>
    </div>
</section>