.borderPrice{
    padding: 2px 5px !important;
    border-radius: 15px;
}

.badge{
    background-color: #655b58;
    color: white;
}
.icon-blue{
    color:#236cb3;
}
.marginRight23{
    margin-right: 23rem;
}
.inputField{
    position: relative;
}
.errorValidation{
    position: absolute;
    top: -10px;
    width: 100%;
    color: red;
    font-size: 16px;
}